.card-status {
  @apply flex items-center justify-between rounded-lg font-semibold text-xs relative;
}

.card-status-main-dropdown {
  @apply bg-white rounded-b-lg p-sm flex items-center shadow-md w-full cursor-pointer;

  box-sizing: border-box;
}

.card-status-reason-dropdown {
  @apply bg-white rounded-lg p-reg shadow-md;

  /* Aligns to the left of the card window */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 1px 5px 1px rgba(0, 0, 0, 0.06);
  width: 267px;
}
