.tabs-all-container {
  @apply flex overflow-hidden items-center;
}

.tabs-tab-container {
  @apply flex-1 overflow-auto flex max-w-full;
}

.tab {
  border: none;
  background: transparent;
  @apply p-reg;
}

.tab-inactive {
  border-bottom: 2px solid transparent;
  @apply opacity-50;
}

