.card {
  position: fixed !important;
  z-index: 100000000;
}

.card-tab {
  @apply p-reg pr-0 outline-none rounded-t-lg rounded-b-none text-xs font-medium flex items-center justify-between bg-white;
}

.card-header-tab {
  width: 150px !important;
}

.card-minimized-tab {
  width: 175px;
  @apply fixed bottom-0 left-0 z-10 ml-xs cursor-pointer outline-purple-gray-10;
}

.card-minimized-tab:hover {
  @apply outline-purple-gray-50;
}

.card-tab-container {
  @apply flex flex-shrink-0 min-h-0 items-center bg-white rounded-t-lg px-reg pt-reg;
  box-sizing: border-box;
}