.ask-teammate-container {
	font-size: 12px;
	border-bottom: 1px solid #7a7daf7a;
}

.ask-teammate-container:hover {
	opacity: .75;
}

.minimized-search-input {
	box-shadow: 0px 0px 10px -4px rgba(122,125,175,0.5) !important;
}

.minimized-search-input::placeholder {
	font-size: 14px !important;
}

.minimized-search-input:hover {
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28) !important;
}

.robot-img {
  @apply cursor-pointer absolute;
  height: 50px;
  bottom: -40px;
  transition: opacity 1s ease;
}