/* Colors, both background and font */
@tailwind components;

@tailwind utilities;

/* Scroll bar */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px !important; /* Remove scrollbar space */
  height: 0px !important;
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Handling text overflow */
.vertical-ellipsis-2, .vertical-ellipsis-3, .vertical-ellipsis-4 {
  display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vertical-ellipsis-3 {
  -webkit-line-clamp: 3;
}

.vertical-ellipsis-4 {
  -webkit-line-clamp: 4;
}

/* Buttons */
.button-hover:hover {
  cursor: pointer !important;
  opacity: 0.8;
}

/* Borders and separators */
.horizontal-separator, .vertical-separator {
	@apply bg-gray-xlight;
}

.horizontal-separator {
  height: 1px;
  @apply my-xs min-w-full;
}

.vertical-separator {
  width: 1px;
  @apply mx-xs min-h-full;
}

.underline-border {
  @apply border-t-0 border-l-0 border-r-0 border-b-2 border-solid;
}

/* Primary styles */
.primary-gradient {
  background: linear-gradient(143deg, #777BAD 0%, #A0A1CD 100%) !important;
}

.primary-underline {
  border-bottom: 2px solid #FFFFFF33 !important;
}

/* Z-index */
.modal-overlay-important {
  z-index: 200;
}

.modal-important {
  z-index: 201;
}

/* Error messages */
.error-text {
  @apply text-red-500 text-sm text-center;
}