/* Colors, both background and font */
@tailwind components;
@tailwind utilities;

/* Scroll bar */
.hide-scrollbar::-webkit-scrollbar {
  width: 0 !important; /* Remove scrollbar space */
  height: 0 !important;
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Buttons */
.button-disabled {
  @apply cursor-not-allowed opacity-50;
}

.button-hover:hover {
  @apply cursor-pointer;

  opacity: 0.8;
}

/* Handling text overflow */
.line-clamp-1,
.line-clamp-2,
.line-clamp-3,
.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.wb-break-words {
  word-break: break-word;
}

/* Borders  */
.underline-border {
  @apply border-t-0 border-l-0 border-r-0 border-b-2 border-solid;
}

/* Gradients + underlines */
.primary-gradient {
  background: linear-gradient(143deg, #777bad 0%, #a0a1cd 100%) !important;
}

.light-gradient {
  background: linear-gradient(143deg, #777bad1a 0%, #a0a1cd1a 100%) !important;
}

.gold-gradient {
  background: linear-gradient(190deg, #ffe4b8 0%, #e3c295 100%) !important;
}

.primary-underline {
  border-bottom: 2px solid #fff3 !important;
}

/* Box shadow */
.shadow-light {
  box-shadow: 0 10px 30px 0 rgba(33, 26, 29, 0.05) !important;
}

/* Large icons */
.large-icon-container {
  height: 125px;
  width: 125px;

  @apply bg-white p-3xl rounded-full shadow-md border-2 border-solid border-purple-light;
}
