.tasks-icon-container {
  height: 26px;
  width: 26px;
}

.tasks-tab-count {
  @apply flex items-center justify-center ml-xs rounded-full bg-red-500 text-white text-xs font-normal w-lg h-lg;
}

.all-tasks-icon-container {
  height: 16px;
  width: 16px;
  padding: 3.375px !important;
  margin: 1.625px;
  background-image: linear-gradient(190deg, #ffe4b8 0%, #e3c295 100%);
  color: #b18b50;
}

.tasks-section-container {
  @apply flex flex flex-col;
}

.tasks-section-header {
  @apply flex flex-shrink-0 items-center px-reg cursor-pointer;
}

.tasks-section-container,
.tasks-section-header {
  min-height: 42px;
}

.tasks-section-header-active {
  background-image: linear-gradient(0deg, #fff 40%, #f4f5ff9e 100%);
}

.card-tag {
  @apply flex items-center bg-purple-gray-10 text-purple-reg rounded-full font-semibold text-xs;

  padding: 6px;
  width: fit-content;
}

.tasks-verification-shadow {
  background: linear-gradient(45deg, #fff3b4, #fff6c2);
}

.tasks-out-of-date-shadow {
  /* background: linear-gradient(45deg, #ffa8a9, #ffc8c8); */
  background: linear-gradient(45deg, #ffbebf, #ffdada);
}
