.ask-integrations-tab-text {
  border-bottom: 2px solid #7a7eaf33;
}

.ask-video-player-container {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.ask-text-editor-add-button {
  bottom: 3%;
  right: 3%;
}

.ask-screen-capture-button {
  @apply flex-1 shadow-md flex items-center justify-center p-reg text-sm rounded-lg !important;
}

.ask-screen-capture-button-text {
  @apply border-t-0 border-l-0 border-r-0 border-b-2 border-solid border-purple-gray-50;
}