.ask-question-text-field {
	background: #FFFFFF;
	border: 1px solid rgba(0,2,95,0.10);
	border-radius: 8px;
	padding: 6px;
}

.ask-integrations-tab {
	color: #7A7EB0;
    border-radius: 17px;
    font-size: 12px;
    min-width: 0 !important;
    text-transform: none !important;
    line-height: 1 !important;
    min-height: 0 !important;
    opacity: 1 !important;
    padding: 8px 12px !important;
    font-weight: 600;
}

.ask-integrations-tab .MuiTab-wrapper {
	padding-bottom: 2px;
    border-bottom: 2px solid #25456333;
}

.ask-integrations-tab.Mui-selected {
	background-image: linear-gradient(143deg, #777BAD 0%, #A0A1CD 100%);
	color: white;
}

.ask-video-player-container {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
 
.ask-video-player {
  position: absolute;
  top: 0;
  left: 0;
}