/* Prev styling */
.text-editor {
	height: 100%;
}
/*
.text-editor-toggle-rte-button  {
	height: 32px;
	width: 32px;
	background-image: linear-gradient(143deg, #777BAD 0%, #A0A1CD 100%);
}
*/

.text-editor-toggle-rte-button {
	border-radius: 8px 0 0 8px;
	background-image: linear-gradient(143deg, #777BAD 0%, #A0A1CD 100%);
	height: 36px;
	z-index: 10;
}

.text-editor-toggle-rte-button:hover {
	opacity: 0.75;
}

.text-editor-toggle-arrow {
	margin-right: -4px;
}

.text-editor-extension {
	height: 120px;
}

.text-editor, .text-editor-extension {
	border: 1px solid #00025F1A;
	padding: 10px;
	border-radius: 0 0 8px 8px;
	justify-content: space-between;
	font-size: 14px !important;
}

.text-editor *, .text-editor-extension * {
	background: transparent;
}

.text-editor:hover, .text-editor-extension:hover  {
  cursor: text;
}

.text-editor div, .text-editor-extension div {
  margin: 0 !important;
}

.text-editor-wrapper {
  width: 100%;
  display: block;
  height: 100%;
}

.text-editor-toolbar {
	border-bottom: 0 !important;
	margin-bottom: 0 !important;
	border-radius: 8px 8px 0 0 !important;
	padding-bottom: 5px !important;
  	padding-top: 10px !important;
  	border-color: #00025F1A !important;
  	display: flex;
  	justify-content: flex-start;
}


.text-editor-list-dropdown {
	width: 42px !important;
	border-radius: 8px !important;
	background-color: #BDC8F926 !important;
	color: #7A7DAF !important;
	border: 0 !important;
}

.text-editor-link-dropdown {
	width: 42px !important;
	border-radius: 8px !important;
	background-color: #BDC8F926 !important;
	color: #7A7DAF !important;
	border: 0 !important;
}

/* Small Button - applies to Inline Buttons */
.text-editor-button-sm {
	min-width: 18px !important;
	border-radius: 8px !important;
	background-color: #BDC8F926 !important;
	color: #7A7DAF !important;
	border: 0 !important;
}

.text-editor-button-sm[aria-selected="true"] {
	@apply bg-purple-reg shadow-none !important;
}

/* Dropdown Container Regular - applies to list, font size, spacing, link, color */
.text-editor-dropdown-container-md {
	width: 42px !important;
}

.text-editor-dropdown-container-lg {
	width: 80px !important;
}

.text-editor-dropdown-container-md, .text-editor-dropdown-container-lg {
	@apply rounded-lg !important;
	background-color: #BDC8F926 !important;
	color: #7A7DAF !important;
	border: 0 !important;
	z-index: 2 !important;
}

.text-editor-dropdown-container-md > a, .text-editor-dropdown-container-lg > a {
	color: #7A7DAF !important;
	text-decoration: none !important;
}

.text-editor-dropdown-container-md > a > span, .text-editor-dropdown-container-lg > a > span {
	@apply truncate;
}

.text-editor-dropdown-container-md div, .text-editor-dropdown-container-lg div {
	border-top-color: #7A7DAF !important;
}

.text-editor-dropdown-container-md + div:not(.text-editor-dropdown-container-md):not([aria-label="rdw-link-control"]),
.text-editor-dropdown-container-lg + div:not(.text-editor-dropdown-container-lg):not([aria-label="rdw-link-control"]) {
	right: 5px !important;
	left: unset !important;
	height: auto !important;
	@apply rounded-lg shadow-md !important;
}

.text-editor-dropdown-container-md + div:not(.text-editor-dropdown-container-md):not([aria-label="rdw-link-control"]) > label,
.text-editor-dropdown-container-lg + div:not(.text-editor-dropdown-container-lg):not([aria-label="rdw-link-control"]) > label {
	@apply mb-xs text-xs text-gray-dark !important;
}

/* Hide checkbox */
.text-editor-dropdown-container-md + div:not(.text-editor-dropdown-container-md):not([aria-label="rdw-link-control"]) > label:nth-last-child(2),
.text-editor-dropdown-container-lg + div:not(.text-editor-dropdown-container-lg):not([aria-label="rdw-link-control"]) > label:nth-last-child(2) {
	display: none !important;
}

.text-editor-dropdown-container-md + div:not(.text-editor-dropdown-container-md):not([aria-label="rdw-link-control"]) > input,
.text-editor-dropdown-container-lg + div:not(.text-editor-dropdown-container-lg):not([aria-label="rdw-link-control"]) > input {
	@apply mb-sm !important;
}

.text-editor-dropdown-container-md + div:not(.text-editor-dropdown-container-md):not([aria-label="rdw-link-control"]) > span,
.text-editor-dropdown-container-lg + div:not(.text-editor-dropdown-container-lg):not([aria-label="rdw-link-control"]) > span {
	@apply flex items-center justify-between m-0 !important;
}

.text-editor-dropdown-container-md + div:not(.text-editor-dropdown-container-md):not([aria-label="rdw-link-control"]) > span > button,
.text-editor-dropdown-container-lg + div:not(.text-editor-dropdown-container-lg):not([aria-label="rdw-link-control"]) > span  > button {
	@apply flex-1 mt-sm p-xs text-sm text-center !important;
}

.text-editor-dropdown-container-md + div:not(.text-editor-dropdown-container-md):not([aria-label="rdw-link-control"]) > span > button:first-child,
.text-editor-dropdown-container-lg + div:not(.text-editor-dropdown-container-lg):not([aria-label="rdw-link-control"]) > span  > button:first-child {
	@apply text-white rounded-l-lg !important;
	background: linear-gradient(143deg, #777BAD 0%, #A0A1CD 100%) !important;
}

.text-editor-dropdown-container-md + div:not(.text-editor-dropdown-container-md):not([aria-label="rdw-link-control"]) > span > button:last-child,
.text-editor-dropdown-container-lg + div:not(.text-editor-dropdown-container-lg):not([aria-label="rdw-link-control"]) > span  > button:last-child {
	@apply bg-purple-gray-10 rounded-r-lg !important;
}

/* Dropdown - applies to all dropdowns to standardize styling*/
.text-editor-dropdown {
	border-radius: 8px !important;
}

/* Applies to all buttons and dropdowns to remove hover shadow */
.no-hover-shadow:hover {
	box-shadow: none !important;
}