.external-verification-container {
  @apply fixed px-sm pb-sm cursor-move flex flex-col items-center bg-white rounded-lg shadow-md;

  z-index: 1000000;
  bottom: 15px;
  right: 15px;
}

.external-verification-modal,
.external-finder-modal {
  width: 600px;
}

.external-finder-modal {
  height: 400px;
}
