.hoverable-scroll-container-elem {
	position: static;
}

.hoverable-scroll-container-elem:hover > .hoverable-scroll-container-hover-elem {
	@apply block;
}

.hoverable-scroll-container-hover-elem {
  position: absolute;
  display: none;
}