.navigate-search-input-icon-container {
  border: 1px solid rgba(0, 2, 95, 0.1);
  border-left: 0 !important;
}

.navigate-search-input {
  border-right: 0 !important;
}

.navigate-search-input:focus {
  box-shadow: none !important;
}
