.navigate-search-input-icon-container {
  @apply bg-white flex flex-col items-center justify-center text-purple-reg rounded-r-lg pr-reg self-stretch border-l-0;

  border: 1px solid rgba(0, 2, 95, 0.1);
}

.navigate-search-input {
  border-right: 0 !important;
}

.navigate-search-input:focus {
  box-shadow: none !important;
}
