.ask-teammate-container {
  font-size: 12px;
  border-bottom: 1px solid #7a7daf7a;
}

.ask-teammate-container:hover {
  opacity: 0.75;
}

.search-input {
  box-shadow: 0 0 10px -4px rgba(122, 125, 175, 0.5) !important;
}

.search-input::placeholder {
  font-size: 14px !important;
}

.search-input:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
}

.ask-accomplishment-section-container {
  background: #dde5ff26 !important;
}

.search-accomplishment-img-container {
  height: 200px;
  background: white;
}

.search-badge-container {
  height: 30px;
}

.badge-bronze {
  color: #ac7746;
  border-bottom: 2px solid #ac774633;
}

.badge-silver {
  color: #7a7daf;
  border-bottom: 2px solid #7a7daf33;
}

.badge-gold {
  color: #ba955d;
  border-bottom: 2px solid #ba955d33;
}

.badge-platinum {
  color: #7ea9a7;
  border-bottom: 2px solid #7ea9a733;
}

.performance-score-container {
  max-height: 100%;
}

.performance-score-container,
.performance-score-container > * {
  @apply min-h-0 flex flex-col flex-1;
}

.robot-img {
  @apply cursor-pointer absolute;

  height: 50px;
  top: 100%;
  width: max-content;
  transition: opacity 1s ease;
}
