.modal-container-fixed {
  @apply fixed top-0 right-0 left-0 bottom-0;

  z-index: 1000;
}

.modal {
  @apply absolute bg-purple-2xlight flex flex-col rounded-lg;

  top: 50%;
  left: 50%;
  width: 90%;
  max-height: 90%;
  max-width: 500px;
  z-index: 101;
}

.modal-overlay {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-gray-overlay;

  z-index: 100;
}

.modal-header {
  @apply flex items-center justify-between p-lg bg-purple-light rounded-t-lg;
}

.modal-body {
  @apply overflow-auto;
}

.modal-overlay-important {
  z-index: 102 !important;
}

.modal-important {
  z-index: 103 !important;
}
