.modal {
  @apply absolute bg-white flex flex-col rounded-lg overflow-hidden bg-purple-light;
  top: 50%;
  left: 10%;
  right: 10%;
  max-height: 90%;
  z-index: 101;
}

.modal-overlay {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-gray-overlay;
  z-index: 100;
}

.modal-header {
  @apply flex items-center justify-between p-lg bg-purple-gray-10;
}

.modal-body {
  @apply overflow-auto;
}

.modal-overlay-important {
  z-index: 200 !important;
}

.modal-important {
  z-index: 201 !important;
}