.suggestion-panel {
  position: absolute;
  right: 100%;
  margin-right: 5%;
  top: 0%;
}

.suggestion-panel-card-container {
  width: 350px;
  max-height: 500px;
}

.suggestion-panel-card-container-lg {
  max-height: 550px;
}

.suggestion-panel-footer {
	height: 50px;
}

.suggestion-panel-external-result {
	background-image: linear-gradient(145deg, #2196F31A 0%, #8284D81A 100%);
	border: 1px solid rgba(0,2,95,0.10);
  @apply flex justify-between items-center rounded-lg p-lg mb-sm shadow;
}

.suggestion-panel-external-result-text {
  @apply text-blue-600 text-sm truncate;
	border-bottom: 2px solid #25456333 !important;
}

.suggestion-panel-external-result-icon {
  @apply bg-white rounded-full w-2xl h-2xl flex items-center justify-center p-lg;
  box-sizing: border-box;
}

.suggestion-panel-arrow {
  top: 95px;
  right: -5%;
}