.suggestion-panel {
  position: absolute;
  right: 100%;
  top: 0%;
  margin-right: 5%;

  @apply w-full flex flex-col bg-purple-xxlight rounded-lg shadow-xl border-gray-200 border border-solid;
}

.suggestion-panel-card-container {
  width: 350px;
  max-height: 500px;

  @apply rounded-b-lg;
}

.suggestion-panel-card-container-lg {
  max-height: 550px;
}

.suggestion-panel-footer {
  height: 50px;
}

.suggestion-panel-arrow-container {
  top: 87px;
  right: calc(-5% + 1px);
  width: calc(5% - 1px);

  @apply absolute flex py-reg;
}

.suggestion-panel-toggle {
  @apply bg-white text-purple-reg shadow-md cursor-pointer rounded-l-lg;
}
