.checkbox-container {
  height: 32px;
  width: 32px;
  border: 1px solid #7A7BAA33;
  @apply rounded-full text-purple-reg flex flex-col items-center justify-center cursor-pointer;
}

.checkbox-container-selected {
  background: #E0E0EB;
  @apply border-0;
}