.toggle-tab {
  z-index: 99;

  @apply flex flex-col fixed right-0 top-0;
}

.toggle-drag-handle {
  @apply rounded-l-lg text-white flex items-center justify-center text-sm;

  cursor: grab;
  width: 10px;
}

.toggle-tab-button {
  max-width: 25px;

  @apply rounded-r-none px-0;
}

.toggle-close-button {
  @apply absolute top-0 left-0 z-10;
  @apply bg-white rounded-full text-purple-reg text-xs shadow-md cursor-pointer h-reg w-reg;

  transform: translate(-40%, -40%);
}
