.card-content-header {

}

.card-content-top-section {
	background: #B9B9B914;
}

.card-content-title {
	font-size: 24px;
	font-weight: 600;
}

.card-content-tag-container {
	background: #777BAD1A;
	border-radius: 13.5px;
	color: #777BAD;
	font-weight: 600;
	font-size: 12px;
}

.card-content-flag-up-to-date {
	background: #E3F2EB;
	color: #20B56A;
	border-radius: 8px;
	font-weight: 600;
	font-size: 12px;
}

.card-content-bottom-panel {
	position: fixed;
	bottom: 0;
	background: #777BAD1A;
}