.suggestion-create-card {
  @apply rounded-xl px-reg py-sm bg-purple-light cursor-pointer;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.suggestion-create-card:hover {
  opacity: 75% !important;
}

.suggestion-elem {
  @apply rounded-xl px-reg py-sm bg-white cursor-pointer;

  box-shadow: 0 10px 30px 0 rgba(33, 26, 29, 0.05);
}

.suggestion-elem-path {
  @apply text-purple-reg text-2xs font-semibold flex-no-wrap mb-xs truncate;
}

.suggestion-elem-title {
  @apply text-left font-semibold;
}

.suggestion-external-logo {
  margin-top: 2px;

  @apply ml-xs w-reg h-reg;
}

.suggestion-share {
  @apply flex-1 mt-sm mx-sm p-xs text-center bg-purple-light rounded-full text-xs;
}
