.ask-recipient {
  height: 15px;
  box-sizing: content-box;

  @apply flex justify-between items-center;
  @apply m-xs relative text-purple-reg font-semibold text-xs rounded-lg p-reg min-w-0;
}

.ask-recipient-dropdown {
  @apply text-xs pt-reg pb-xs pt-sm shadow-md rounded-t-lg flex flex-col w-full;

  max-height: 150px;
  background: #e8ebf5;
}

.ask-recipient-mentions-count {
  @apply m-xs bg-purple-gray-50 text-purple-reg rounded-full flex justify-center items-center;

  min-width: 10px;
  padding: 2px 4px;
}
