.profile-integration {
  @apply p-reg rounded-lg cursor-pointer;
}

.profile-integration-active {
  @apply bg-purple-light;
}

.profile-integration-inactive {
  @apply border border-solid border-gray-light bg-white; 
}

.profile-integration-img-container {
  height: 32px;
  width: 32px;
}

.profile-integration-img {
  max-height: 20px;
}

.profile-sign-out-dropdown {
  @apply bg-white shadow-md rounded-lg text-sm border border-solid border-gray-xlight;
}