.tasks-verification-gradient {
  background: rgba(211, 198, 95, 0.1);
}

.tasks-out-of-date-gradient {
  background-color: #fff5f5 !important;
}

.tasks-undocumented-gradient {
  background: rgba(96, 126, 255, 0.07);
}

.task-item-profile-picture {
  height: 27px;
  width: 27px;

  @apply rounded-full text-xs mr-sm flex-shrink-0;
}

.task-item-slack-icon {
  height: 16px;
  width: 16px;
}
