.suggestion-card {
  position: static;
}

.suggestion-card:hover > .suggestion-card-preview-wrapper {
	@apply flex;
}

.suggestion-card-preview-wrapper {
  position: absolute !important;
  width: 350px !important;
  display: none;
}

.suggestion-card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}