.attachment-dropdown-icon {
  width: 15px;
  height: 20px;
}

.attachment-dropdown {
  @apply bg-white shadow-md mt-sm rounded-lg text-sm p-sm border border-solid border-gray-xlight;

  width: 175px;
}
