.external-result {
  background-image: linear-gradient(145deg, #2196f31a 0%, #8284d81a 100%);
  border: 1px solid rgba(0, 2, 95, 0.1);

  @apply flex justify-between rounded-lg p-sm mb-sm shadow;
}

.external-result-text {
  @apply text-sm truncate min-w-0 text-blue-600 self-start;

  max-width: 100%;
  border-bottom: 2px solid #25456333 !important;
}

.external-result-sender {
  @apply font-semibold;

  font-size: 13px;
}

.external-result-icon img {
  @apply w-full h-full;
}

.external-result-description {
  @apply text-gray-reg mt-xs;

  font-size: 11px;
}
