.external-result {
  background-image: linear-gradient(145deg, #2196f31a 0%, #8284d81a 100%);
  border: 1px solid rgba(0, 2, 95, 0.1);

  @apply flex justify-between rounded-lg px-reg py-sm mb-sm shadow;
}

.external-result-text {
  @apply text-sm truncate min-w-0;
}

.external-result-sender {
  @apply font-semibold;

  font-size: 13px;
}

.external-result-link {
  @apply text-blue-600;

  border-bottom: 2px solid #25456333 !important;
}

.external-result-icon {
  @apply bg-white shadow-md rounded-full flex-shrink-0 flex items-center justify-center;

  box-sizing: border-box;
  width: 27px;
  height: 27px;
  padding: 6px;
}

.external-result-icon img {
  @apply w-full h-full;
}

.external-result-date {
  @apply text-xs text-gray-light text-right mt-sm;
}
