.card-side-dock-overlay {
	@apply bg-gray-overlay pointer-events-auto w-full h-full;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}

.card-side-dock {
	width: 250px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    @apply absolute top-0 bottom-0 right-0 bg-purple-light p-lg pointer-events-auto rounded-l-lg shadow-lg;
}

.card-side-dock-slide-in > .card-side-dock {
    animation: slide-in 0.3s forwards;
    -webkit-animation: slide-in 0.3s forwards;
}

.card-side-dock-slide-out > .card-side-dock {
    animation: slide-out 0.3s forwards;
    -webkit-animation: slide-out 0.3s forwards;
}

.card-side-dock-slide-in > .card-side-dock-overlay {
    opacity: 1;
    visibility: visible;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}