.app-container {
  /* Override defaults */
  font-size: 16px !important;
  line-height: 1.25 !important;
  cursor: default !important;

  /* prettier-ignore */
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif !important;
  font-weight: 400 !important;
  text-align: left !important;
  outline: 0 !important;
  box-sizing: border-box !important;
  letter-spacing: 0 !important;
}

.app-container p {
  margin: 0;
}

.app-container p,
.app-container h1,
.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5,
.app-container h6 {
  line-height: 1.25;
}

.app-container h1,
.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5,
.app-container h6 {
  @apply font-bold !important;

  margin: 0.7em 0;

  /* prettier-ignore */
  font-family:
    'HelveticaNeue-Light',
    'Helvetica Neue Light',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif !important;
}

.app-container h1 {
  font-size: 1.575em;
}

.app-container h2 {
  font-size: 1.425em;
}

.app-container h3 {
  font-size: 1.3em;
}

.app-container h4 {
  font-size: 1em;
}

.app-container h5 {
  font-size: 0.8em;
}

.app-container h6 {
  font-size: 0.7em;
}

.app-container pre,
.app-container code {
  margin: 0;
  font-family: 'Courier New', sans-serif;
  background: #211a1d0d;
  border-radius: 8px;
  padding: 5px;
}

.app-container ol,
.app-container ul {
  margin: 0 14px;
  padding-left: 20px;
}

.app-container ol {
  list-style: decimal;
}

.app-container ul {
  list-style: disc;
}

/* Button Overrides */
.app-container button {
  all: unset;
}

.app-container button:focus {
  all: unset;

  @apply outline-none;
}

.app-container button:hover {
  all: unset;
  opacity: 0.8;

  @apply cursor-pointer;
}

.app-container button:disabled {
  @apply cursor-not-allowed opacity-50 !important;
}

/* Anchor tag override */
.app-container a {
  @apply no-underline;

  color: inherit;

  /* prettier-ignore */
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif !important;
}

/* Input overrides */
.app-container input:not([type='checkbox']),
.app-container input:not([type='checkbox']):focus,
.app-container textarea,
.app-container textarea:focus {
  @apply font-medium;

  all: unset;
  background: #fff;
  border: 1px solid rgba(0, 2, 95, 0.1);
  border-radius: 8px;
  color: black;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 22px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.app-container input:not([type='checkbox']),
.app-container input:not([type='checkbox']):focus {
  height: 40px;
  padding: 0 8px;
}

.app-container textarea,
.app-container textarea:focus {
  padding: 4px 8px;
}

.app-container input:not([type='checkbox']):focus,
.app-container textarea:focus {
  @apply outline-purple-gray-10;
}

.app-container input:not([type='checkbox'])::placeholder,
.app-container textarea::placeholder {
  @apply text-gray-dark;
}

/* Custom scrollbar */

/* .app-container div::-webkit-scrollbar {
  background: transparent;
}

.app-container div::-webkit-scrollbar:vertical {
  width: 5px;
  height: 0px;
}

.app-container div::-webkit-scrollbar:horizontal {
  width: 0px;
  height: 5px;
}

.app-container div:hover::-webkit-scrollbar {
  @apply bg-gray-300;
}

.app-container div:hover::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-left: none;
  border-right: none;
} */
