.app-container {
  /* Override defaults */
  font-size: 16px !important;
  line-height: 1.2 !important;
  cursor: default !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
  text-align: left !important;
  outline: 0px !important;
  box-sizing: border-box !important;
  letter-spacing: 0px !important;
}

/* Override React Dock */
.app-container > div:last-child > div > div:first-child {
  @apply hidden !important;
}

.app-container > div > div > div:nth-child(2) {
  overflow: initial !important;
}

/* Button Overrides */
.app-container button {
  all: unset;
}

.app-container button:focus {
  all: unset;
  @apply outline-none;
}

.app-container button:hover {
  all: unset;
}

.app-container button:hover {
  @apply cursor-pointer;
  opacity: 0.8;
}

.app-container button:disabled {
  @apply cursor-not-allowed opacity-50;
}

/* Anchor tag override */
.app-container a {
  color: inherit !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  @apply no-underline !important;
}

/* Input overrides */
.app-container input:not([type='checkbox']), .app-container input:not([type='checkbox']):focus,
.app-container textarea, .app-container textarea:focus {
  all: unset;
  background: #FFFFFF;
  border: 1px solid rgba(0,2,95,0.10);
  border-radius: 8px;
  color: black;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 22px;
  box-sizing: border-box;
  flex-shrink: 0;
  @apply font-medium;
}

.app-container input:not([type='checkbox']), .app-container input:not([type='checkbox']):focus {
  height: 40px;
  padding: 0px 8px;
}

.app-container textarea, .app-container textarea:focus {
  padding: 4px 8px;
}

.app-container input:not([type='checkbox']):focus,
.app-container textarea:focus {
  @apply outline-purple-gray-10;
}

.app-container input:not([type='checkbox'])::placeholder,
.app-container textarea::placeholder {
  @apply text-gray-dark;
}

/* Custom scrollbar */
/*.app-container div::-webkit-scrollbar {
  background: transparent;
}

.app-container div::-webkit-scrollbar:vertical {
  width: 5px;
  height: 0px;
}

.app-container div::-webkit-scrollbar:horizontal {
  width: 0px;
  height: 5px;
}

.app-container div:hover::-webkit-scrollbar {
  @apply bg-gray-300;
}

.app-container div:hover::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-left: none;
  border-right: none;
}*/