.header-profile-picture,
.header-badge-container {
  width: 27px;
  height: 27px;

  @apply rounded-full;
}

.header-tab-label {
  @apply text-xs ml-xs;
}

.header-profile-picture {
  @apply text-xs border border-gray-light border-solid;
}

.header-badge-container {
  @apply flex items-center justify-center relative;
}

.header-small-tab {
  margin-left: 6px;
  margin-right: 6px;
}
